
A-level Computer Science PPT/13.1 - User-defined data types/User Defined Data Type Narrated.mp4
A-level Computer Science PPT/13.2 - File organisation and access/File Handling Narrated.mp4
A-level Computer Science PPT/17.1 Encryption, Encryption Protocols and Digital certificates/Monitoring and Control Team video.mov
A-level Computer Science PPT/2.1 - Networks including The Internet/2.1 Networks Including the Internet.pptx
A-level Computer Science PPT/3.1 - Computers and their Components/Videos/VR Headset.mp4
A-level Computer Science PPT/3.1 - Computers and their Components/3.1 Computers and their components.pptx
1Book/IGCSE/Coursebool/Cambridge IGCSE Physics Coursebook(2).pdf
1Book/IGCSE/Coursebool/Biology The Unity and Diversity of Life.pdf
1Book/IGCSE/Coursebool/Cambridge IGCSE and O Level Economics Coursebook.pdf
1Book/IGCSE/Coursebool/Cambridge IGCSE Biology Coursebook.pdf
1Book/Books/AP-Campbell Biology.pdf
1Book/Books/AP-Physics11.pdf
1Book/Books/欧姆社学习漫画-漫画CPU (（日）涉谷道雄著；任靖尧译.) (Z-Library).pdf
1Book/Books/起初·纪年.pdf
