
A-level Computer Science PPT/13.1 - User-defined data types/User Defined Data Type Narrated.mp4
A-level Computer Science PPT/13.2 - File organisation and access/File Handling Narrated.mp4
A-level Computer Science PPT/17.1 Encryption, Encryption Protocols and Digital certificates/Monitoring and Control Team video.mov
A-level Computer Science PPT/2.1 - Networks including The Internet/2.1 Networks Including the Internet.pptx
A-level Computer Science PPT/3.1 - Computers and their Components/Videos/VR Headset.mp4
A-level Computer Science PPT/3.1 - Computers and their Components/3.1 Computers and their components.pptx
